package components

templ TemplateMainElement(appStatus, appTimeLive string){
    <div>
        <div>Приложение запущено в режиме '{appStatus}'.</div> 
        <div>Время, прошедшее с момента запуска {appTimeLive}."</div>
    </div>
}